<h3>My Comic Library</h3>

<button mat-raised-button color="primary" (click)="routeToAddComic()">Add New Comic</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="Id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
  </ng-container>

  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
  </ng-container>

  <ng-container matColumnDef="Cover_Image_Url">
    <th mat-header-cell *matHeaderCellDef> Cover Image Url </th>
    <td mat-cell *matCellDef="let element"> {{element.Cover_Image_Url}} </td>
  </ng-container>

  <ng-container matColumnDef="Publication_Date">
    <th mat-header-cell *matHeaderCellDef> Publication Date </th>
    <td mat-cell *matCellDef="let element"> {{element.Publication_Date}} </td>
  </ng-container>
  <ng-container matColumnDef="Genre">
    <th mat-header-cell *matHeaderCellDef> Genre </th>
    <td mat-cell *matCellDef="let element"> {{element.Genre}} </td>
  </ng-container>
  <ng-container matColumnDef="Excerpt">
    <th mat-header-cell *matHeaderCellDef> Excerpt </th>
    <td mat-cell *matCellDef="let element"> {{element.Excerpt}} </td>
  </ng-container>
  <ng-container matColumnDef="Written_By">
    <th mat-header-cell *matHeaderCellDef> Written By </th>
    <td mat-cell *matCellDef="let element"> {{element.Written_By}} </td>
  </ng-container>
  <ng-container matColumnDef="Publusher">
    <th mat-header-cell *matHeaderCellDef> Publusher </th>
    <td mat-cell *matCellDef="let element"> {{element.Publusher}} </td>
  </ng-container>
  <ng-container matColumnDef="Actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element"> <button mat-button color="primary">Edit</button>&nbsp;<button mat-button color="warn">Delete</button> </td>
  </ng-container>
  
  

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator>

